{% extends "templates/web.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 card card-body bg-light">
            {{ homepage_header|safe }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-body bg-light">
                <span class="side_title">{{ _("Exhibitors") }}</span>
                <a href="/redirect_registration?destintation=register-exhibitor" class="btn btn-success pull-right"> {{ _("Register") }} </a>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card card-body bg-light">
                <span class="side_title">{{ _("Organizations") }}</span>
                <a href="/redirect_registration?destintation=register-organization" class="btn btn-success pull-right"> {{ _("Register") }} </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="tournaments_header">
                <span>{{ _("Current Tournaments") }}</span>
            </div>
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th style="width: 40%">{{ _("Name") }}</th>
                        <th style="width: 26%">{{ _("Association") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments %}
                        <tr>
                            <td><a href="{{ tournament.route }}">{{ tournament.tournament_name }}</a></td>
                            <td>{{ tournament.association }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="tournaments_header">
                <span>{{ _("Archived Tournaments") }}</span>
            </div>
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th style="width: 40%">{{ _("Name") }}</th>
                        <th style="width: 26%">{{ _("Association") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in finished_tournaments %}
                        <tr>
                            <td><a href="{{ tournament.route }}">{{ tournament.tournament_name }}</a></td>
                            <td>{{ tournament.association }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/avium_web/css/avium_home.css' | abs_url }}">
</div>
{% endblock %}