{% extends "templates/web.html" %}

{% block title %}{{ _("My Tournaments") }}{% endblock %}

{% block page_content %}
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <a class="btn btn-success btn-block" href="/create-tournament?new=1">{{ _("Create New Tournament") }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th style="width: 50%">{{ _("Name") }}</th>
                        <th style="width: 20%">{{ _("Published") }}</th>
                        <th style="width: 10%">{{ _("Edit") }}</th>
                        <th style="width: 10%">{{ _("URL") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments %}
                        <tr>
                            <td>{{ tournament.tournament_name }}</td>
                            <td>{{ _(tournament.workflow_state) }}</td>
                            <td><a href="/create-tournament?name={{ tournament.name }}">{{ _("Edit") }}</a></td>
                            <td>{% if tournament.tournament_url %} <a href="https://{{ tournament.tournament_url }}">{{ _("Open") }} {% endif %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
