{% extends "templates/web.html" %}

{% block title %}{{ _("Privacy") }}{% endblock %}

{% block page_content %}
    <div id='privacy'> 
        {{ privacy }}
    </div>
    <br>
    <br>
    <div id='cookies'> 
        {{ cookies }}
    </div>
{% endblock %}