{% extends "templates/web.html" %}

{% block title %}{{ _("Thanks") }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <span>Gracias por registrarte, en breves encontrarás más detalles en tu correo electrónico.</span>
            <br>
            <br>
            <span> <a href="/">Volver al inicio</a></span>
        </div>
    </div>
{% endblock %}
