.page-container{
    max-width: 1170px;
}

.tournaments_header{
    background-color: #8a8a8a;
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
}

.side_title{
    font-weight: bold;
    display: inline;
    margin-right: 15px;
    font-size: 25px;
}