{% extends "templates/web.html" %}

{% block page_content %}
    <style>
        .url_tournament{
            margin: 20px;
        }
    </style>

    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-12">
            {% if workflow_state == "Approved" %}
            <div class="url_tournament alert alert-success" role="alert">
                <h4>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span>{{ _("Register in") }} </span>
                    <a href="https://{{ tournament_url }}">{{ tournament_url }}</a>
                </h4>
            </div>
            {% elif files|length >0 %}
            <div class="alert alert-primary" role="alert">
                    <h2>
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        <span>{{ _("Results") }} </span>
                    </h2>
                    <table class="table table-striped">
                        {% for file in files %}
                        <tbody>
                            <tr>
                              <td><b>{{ file.document_name }}</b></td>
                              <td><a href="{{file.file }}">{{_("Download")}}</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
            </div>
            {% endif %}
            {% if info_files|length >0 %}
            <div class="alert alert-primary" role="alert">
                    <h2>
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span>{{ _("Information") }} </span>
                    </h2>
                    <table class="table table-striped">
                        {% for file in info_files %}
                        <tbody>
                            <tr>
                              <td><b>{{ file.document_name }}</b></td>
                              <td><a href="{{file.file }}">{{_("Download")}}</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if image %}
            <div class="col-md-6">
                {{ information }}
            </div>
            <div class="col-md-6">
                <img src="{{ image }}" alt="{{ tournament_name }}">
            </div>
        {% else %}
            <div class="col-md-12">
                {{ information }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="url_tournament col-md-12">
                {% if workflow_state == "Approved" %}
                <div class="alert alert-success" role="alert">
                    <h4>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>{{ _("Register in") }} </span>
                        <a href="https://{{ tournament_url }}">{{ tournament_url }}</a>
                    </h4>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock %}

<!-- this is a sample default web page template -->
